span.st-emotion-cache-10trblm.e1nzilvr1
{
    background-color: rgb(228, 184, 41);
    border-radius: 5px;
}
div.st-emotion-cache-nahz7x.e1nzilvr5>hr
{
    margin-top: 1px;
    background-color: rgb(228, 184, 41);
}
